<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLB NRFI Data</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f4f4f4;
        }
        /* Conditional formatting styles */
        .conditional-format {
            text-align: right;
            color: #000;
            font-weight: bold;
        }
    </style>
</head>
<body>
<h1>NRFI Data - 07/27/2024</h1>
<table>
    <thead>
    <tr>
        <th>Away Team</th>
        <!--<th>Away RS</th>
        <th>Away NRFI %</th>-->
        <th>Away NRSFI %</th>
        <!--<th>Away Total NRFI %</th>
        <th>Away Total NRSFI %</th>-->
        <th>Intra NRSFI %</th>
        <th>Throw NRSFI %</th>
        <th>L10</th>
        <th>Streak</th>



        <th>Home Team</th>
        <!--<th>Home RS</th>
        <th>Home NRFI %</th>-->
        <th>Home NRSFI %</th>
        <!--<th>Home Total NRFI %</th>
        <th>Home Total NRSFI %</th>-->
        <th>Intra NRSFI %</th>
        <th>Throw NRSFI %</th>
        <th>L10</th>
        <th>Streak</th>


        <th>Away Pitcher</th>
        <!--<th>Away ERA</th>
        <th>Away RA (Pitcher)</th>-->
        <th>Away NRFI</th>
        <th>Away YRFI</th>
        <th>Away NRFI %</th>
        <th>Total NRFI</th>
        <th>Total YRFI</th>
        <th>Total NRFI %</th>
        <th>L5</th>
        <th>Streak</th>

        <th>Home Pitcher</th>
        <!--<th>Home ERA</th>
        <th>Home RA (Pitcher)</th>-->
        <th>Home NRFI</th>
        <th>Home YRFI</th>
        <th>Home NRFI %</th>
        <th>Total NRFI</th>
        <th>Total YRFI</th>
        <th>Total NRFI %</th>
        <th>L5</th>
        <th>Streak</th>


        <th>NRFI % (Pitchers)</th>

        <th>Away NRSFI Algo %</th>
        <th>Home NRSFI Algo %</th>
        <th>Algo %</th>

        <!--<th>Away Total NRFI % (Pitcher)</th>
        <th>Home Total NRFI % (Pitcher)</th>-->
    </tr>
    </thead>
    <tbody>
    {% for row in data %}
    <tr>
        <td>{{ row['Away Team'] }}</td>
        <!--<td class="colored-cell" style="background-color: {{ row['Away RS Color'] }};">{{ row['Away RS'] }}</td>
        <td class="colored-cell" style="background-color: {{ row['Away NRFI % Color'] }};">{{ row['Away NRFI %'] }}</td>-->
        <td class="colored-cell" style="background-color: {{ row['Away NRSFI % Color'] }};">{{ row['Away NRSFI %'] }}</td>
        <!--<td class="colored-cell" style="background-color: {{ row['Away Total NRFI % Color'] }};">{{ row['Away Total NRFI %'] }}</td>
        <td class="colored-cell" style="background-color: {{ row['Away Total NRSFI % Color'] }};">{{ row['Away Total NRSFI %'] }}</td>-->
        <td class="colored-cell" style="background-color: {{ row['Away Intra NRSFI % Color'] }};">{{ row['Away Intra NRSFI %'] }}</td>
        <td class="colored-cell" style="background-color: {{ row['Away Throw NRSFI % Color'] }};">{{ row['Away Throw NRSFI %'] }}</td>
        <td>{{ row['Away L10'] }}</td>
        <td class="colored-cell" style="background-color: {{ row['Away Streak Color'] }};">{{ row['Away Streak'] }}</td>


        <td>{{ row['Home Team'] }}</td>
        <!--<td class="colored-cell" style="background-color: {{ row['Home RS Color'] }};">{{ row['Home RS'] }}</td>
        <td class="colored-cell" style="background-color: {{ row['Home NRFI % Color'] }};">{{ row['Home NRFI %'] }}</td>-->
        <td class="colored-cell" style="background-color: {{ row['Home NRSFI % Color'] }};">{{ row['Home NRSFI %'] }}</td>
        <!--<td class="colored-cell" style="background-color: {{ row['Home Total NRFI % Color'] }};">{{ row['Home Total NRFI %'] }}</td>
        <td class="colored-cell" style="background-color: {{ row['Home Total NRSFI % Color'] }};">{{ row['Home Total NRSFI %'] }}</td>-->
        <td class="colored-cell" style="background-color: {{ row['Home Intra NRSFI % Color'] }};">{{ row['Home Intra NRSFI %'] }}</td>
        <td class="colored-cell" style="background-color: {{ row['Home Throw NRSFI % Color'] }};">{{ row['Home Throw NRSFI %'] }}</td>
        <td>{{ row['Home L10'] }}</td>
        <td class="colored-cell" style="background-color: {{ row['Home Streak Color'] }};">{{ row['Home Streak'] }}</td>



        <td>{{ row['Away Pitcher'] }}</td>
        <!--<td class="colored-cell" style="background-color: {{ row['Away ERA Color'] }};">{{ row['Away ERA'] }}</td>
        <td>{{ row['Away RA (Pitcher)'] }}</td>-->
        <td>{{ row['Away NRFI (Pitcher)'] }}</td>
        <td>{{ row['Away YRFI (Pitcher)'] }}</td>
        <td class="colored-cell" style="background-color: {{ row['Away NRFI % (Pitcher) Color'] }};">{{ row['Away NRFI % (Pitcher)'] }}%</td>
        <td>{{ row['Away Total NRFI (Pitcher)'] }}</td>
        <td>{{ row['Away Total YRFI (Pitcher)'] }}</td>
        <td class="colored-cell" style="background-color: {{ row['Away Total NRFI % (Pitcher) Color'] }};">{{ row['Away Total NRFI % (Pitcher)'] }}%</td>
        <td>{{ row['Away L5 (Pitcher)'] }}</td>
        <td class="colored-cell" style="background-color: {{ row['Away Streak (Pitcher) Color'] }};">{{ row['Away Streak (Pitcher)'] }}</td>



        <td>{{ row['Home Pitcher'] }}</td>
        <!--<td class="colored-cell" style="background-color: {{ row['Home ERA Color'] }};">{{ row['Home ERA'] }}</td>
        <td>{{ row['Home RA (Pitcher)'] }}</td>-->
        <td>{{ row['Home NRFI (Pitcher)'] }}</td>
        <td>{{ row['Home YRFI (Pitcher)'] }}</td>
        <td class="colored-cell" style="background-color: {{ row['Home NRFI % (Pitcher) Color'] }};">{{ row['Home NRFI % (Pitcher)'] }}%</td>
        <td>{{ row['Home Total NRFI (Pitcher)'] }}</td>
        <td>{{ row['Home Total YRFI (Pitcher)'] }}</td>
        <td class="colored-cell" style="background-color: {{ row['Home Total NRFI % (Pitcher) Color'] }};">{{ row['Home Total NRFI % (Pitcher)'] }}%</td>
        <td>{{ row['Home L5 (Pitcher)'] }}</td>
        <td class="colored-cell" style="background-color: {{ row['Home Streak (Pitcher) Color'] }};">{{ row['Home Streak (Pitcher)'] }}</td>


        <td class="colored-cell" style="background-color: {{ row['NRFI % (Pitchers) Color'] }};">{{ row['NRFI % (Pitchers)'] }}%</td>

        <td>{{ row['Away NRSFI Algo Percentage'] }}%</td>
        <td>{{ row['Home NRSFI Algo Percentage'] }}%</td>
        <td>{{ row['Algo Percentage'] }}%</td>

        <!--<td class="colored-cell" style="background-color: {{ row['Away Total NRFI % (Pitcher) Color'] }};">{{ row['Away Total NRFI % (Pitcher)'] }}%</td>
        <td class="colored-cell" style="background-color: {{ row['Home Total NRFI % (Pitcher) Color'] }};">{{ row['Home Total NRFI % (Pitcher)'] }}%</td>-->
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
