<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pitcher NRFI Data</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Pitcher NRFI Data</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Throw</th>


        <th>Season ERA</th>

        <th>Away ERA</th>
        <th>Away RA</th>
        <th>Away NRFI</th>
        <th>Away YRFI</th>
        <th>Away NRFI %</th>


        <th>Home ERA</th>
        <th>Home RA</th>
        <th>Home NRFI</th>
        <th>Home YRFI</th>
        <th>Home NRFI %</th>



        <th>Total NRFI</th>
        <th>Total YRFI</th>
        <th>Total NRFI %</th>


        <th>L5 Games</th>
        <th>NRFI Streak</th>
        <th>YRFI Streak</th>
    </tr>
    </thead>
    <tbody>
    {% for row in updated_data %}
    <tr>
        <td>{{ row['Name'] }}</td>
        <td>{{ row['Throw'] }}</td>


        <td style="background-color: {{ row['Season ERA Color'] }}">{{ row['Season ERA'] }}</td>


        <td style="background-color: {{ row['Away ERA Color'] }}">{{ row['Away ERA'] }}</td>
        <td>{{ row['Away RA'] }}</td>
        <td>{{ row['Away NRFI'] }}</td>
        <td>{{ row['Away YRFI'] }}</td>
        <td style="background-color: {{ row['Away NRFI % Color'] }}">{{ row['Away NRFI %'] }}</td>

        <td style="background-color: {{ row['Home ERA Color'] }}">{{ row['Home ERA'] }}</td>
        <td>{{ row['Home RA'] }}</td>
        <td>{{ row['Home NRFI'] }}</td>
        <td>{{ row['Home YRFI'] }}</td>
        <td style="background-color: {{ row['Home NRFI % Color'] }}">{{ row['Home NRFI %'] }}</td>


        <td>{{ row['Total NRFI'] }}</td>
        <td>{{ row['Total YRFI'] }}</td>
        <td style="background-color: {{ row['Total NRFI % Color'] }}">{{ row['Total NRFI %'] }}</td>

        <td>{{ row['L5 Streak'] }}</td>
        <td>{{ row['NRFI Streak'] }}</td>
        <td>{{ row['YRFI Streak'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
